<html>
  <head>
    <head>
      <link rel="stylesheet" type="text/css" href="" />
    </head>
  </head>

  <body>
    <div id="w">
      <h1>Welcome</h1>
    </div>
    <div class="nav">
      <a routerLink="/customer/home" routerLinkActive="active" id="w1">Home</a>
      <a
        routerLink="/customer/customerService"
        routerLinkActive="active"
        id="w2"
        >Request Service</a
      >
      <a routerLink="/customer/myRequests" routerLinkActive="active" id="w2"
        >My Requests
      </a>
      <a routerLink="/customer/home" routerLinkActive="active" id="w3">About</a>
      <a routerLink="/customer/home" routerLinkActive="active" id="w3"
        >Contact us</a
      >
      <a href="" id="" style="float: right;" (click)="handleLogout()">Logout</a>
    </div>
    <div></div>
  </body>
</html>
